### Importación de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [4]:
# prompt: Análisis de facturación

# Para cada tienda, vamos a calcular:
# - Ingreso total
# - Número de facturas
# - Promedio de ingreso por factura

# Función para analizar una tienda
def analizar_tienda(df, nombre_tienda):
    ingreso_total = df['Precio'].sum() # Changed 'Importe' to 'Precio'
    numero_facturas = df.shape[0] # Using number of rows as a proxy for number of invoices
    promedio_ingreso_por_factura = ingreso_total / numero_facturas if numero_facturas > 0 else 0

    print(f"--- Análisis de {nombre_tienda} ---")
    print(f"Ingreso Total: {ingreso_total:,.2f}")
    print(f"Número de Facturas: {numero_facturas}")
    print(f"Promedio de Ingreso por Factura: {promedio_ingreso_por_factura:,.2f}")
    print("-" * (len(f"--- Análisis de {nombre_tienda} ---")))

# Analizar cada tienda
analizar_tienda(tienda, "Tienda 1")
analizar_tienda(tienda2, "Tienda 2")
analizar_tienda(tienda3, "Tienda 3")
analizar_tienda(tienda4, "Tienda 4")

--- Análisis de Tienda 1 ---
Ingreso Total: 1,150,880,400.00
Número de Facturas: 2359
Promedio de Ingreso por Factura: 487,867.91
----------------------------
--- Análisis de Tienda 2 ---
Ingreso Total: 1,116,343,500.00
Número de Facturas: 2359
Promedio de Ingreso por Factura: 473,227.43
----------------------------
--- Análisis de Tienda 3 ---
Ingreso Total: 1,098,019,600.00
Número de Facturas: 2359
Promedio de Ingreso por Factura: 465,459.77
----------------------------
--- Análisis de Tienda 4 ---
Ingreso Total: 1,038,375,700.00
Número de Facturas: 2358
Promedio de Ingreso por Factura: 440,362.89
----------------------------

# 2. Ventas por categoría

In [6]:
# prompt: Ventas por categoría

# Unir los dataframes para analizar todas las tiendas juntas
todas_tiendas = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

# Calcular las ventas por categoría
ventas_por_categoria = todas_tiendas.groupby('Categoría del Producto')['Precio'].sum().sort_values(ascending=False)

print("\nVentas por Categoría (Total de todas las tiendas):")
ventas_por_categoria

Ventas por Categoría (Total de todas las tiendas):

Categoría del Producto
Electrónicos               1.660576e+09
Electrodomésticos          1.324751e+09
Muebles                    7.576610e+08
Instrumentos musicales     3.487726e+08
Deportes y diversión       1.429777e+08
Juguetes                   7.360440e+07
Artículos para el hogar    5.757980e+07
Libros                     3.769610e+07
Name: Precio, dtype: float64

In [7]:
# prompt: ahora separa esas ventas por categoria por cada tienda

# Función para analizar ventas por categoría por tienda
def analizar_ventas_por_categoria_por_tienda(df, nombre_tienda):
    print(f"\n--- Ventas por Categoría en {nombre_tienda} ---")
    ventas_categoria = df.groupby('Categoría del Producto')['Precio'].sum().sort_values(ascending=False)
    print(ventas_categoria)
    print("-" * (len(f"--- Ventas por Categoría en {nombre_tienda} ---")))

# Analizar ventas por categoría para cada tienda
analizar_ventas_por_categoria_por_tienda(tienda, "Tienda 1")
analizar_ventas_por_categoria_por_tienda(tienda2, "Tienda 2")
analizar_ventas_por_categoria_por_tienda(tienda3, "Tienda 3")
analizar_ventas_por_categoria_por_tienda(tienda4, "Tienda 4")

--- Ventas por Categoría en Tienda 1 ---
Categoría del Producto
Electrónicos               429493500.0
Electrodomésticos          363685200.0
Muebles                    187633700.0
Instrumentos musicales      91299000.0
Deportes y diversión        39290000.0
Juguetes                    17995700.0
Artículos para el hogar     12698400.0
Libros                       8784900.0
Name: Precio, dtype: float64
----------------------------------------

--- Ventas por Categoría en Tienda 2 ---
Categoría del Producto
Electrónicos               410831100.0
Electrodomésticos          348567800.0
Muebles                    176426300.0
Instrumentos musicales     104990300.0
Deportes y diversión        34744500.0
Juguetes                    15945400.0
Artículos para el hogar     14746900.0
Libros                      10091200.0
Name: Precio, dtype: float64
----------------------------------------

--- Ventas por Categoría en Tienda 3 ---
Categoría del Producto
Electrónicos               410775800.0
Electrodomésticos          329237900.0
Muebles                    201072100.0
Instrumentos musicales      77380900.0
Deportes y diversión        35593100.0
Juguetes                    19401100.0
Artículos para el hogar     15060000.0
Libros                       9498700.0
Name: Precio, dtype: float64
----------------------------------------

--- Ventas por Categoría en Tienda 4 ---
Categoría del Producto
Electrónicos               409476100.0
Electrodomésticos          283260200.0
Muebles                    192528900.0
Instrumentos musicales      75102400.0
Deportes y diversión        33350100.0
Juguetes                    20262200.0
Artículos para el hogar     15074500.0
Libros                       9321300.0
Name: Precio, dtype: float64
----------------------------------------

# 3. Calificación promedio de la tienda

In [8]:
# prompt: Calificación promedio de la tienda

# Calcular la calificación promedio para cada tienda
calificacion_promedio_tienda1 = tienda['Calificación'].mean()
calificacion_promedio_tienda2 = tienda2['Calificación'].mean()
calificacion_promedio_tienda3 = tienda3['Calificación'].mean()
calificacion_promedio_tienda4 = tienda4['Calificación'].mean()

print("\n--- Calificación Promedio por Tienda ---")
print(f"Tienda 1: {calificacion_promedio_tienda1:.2f}")
print(f"Tienda 2: {calificacion_promedio_tienda2:.2f}")
print(f"Tienda 3: {calificacion_promedio_tienda3:.2f}")
print(f"Tienda 4: {calificacion_promedio_tienda4:.2f}")
print("-" * (len("--- Calificación Promedio por Tienda ---")))

# Calcular la calificación promedio general de todas las tiendas
calificacion_promedio_total = todas_tiendas['Calificación'].mean()

print(f"\nCalificación Promedio Total (Todas las tiendas): {calificacion_promedio_total:.2f}")

--- Calificación Promedio por Tienda ---
Tienda 1: 3.98
Tienda 2: 4.04
Tienda 3: 4.05
Tienda 4: 4.00
----------------------------------------

Calificación Promedio Total (Todas las tiendas): 4.01

# 4. Productos más y menos vendidos

In [10]:
# prompt: Productos más y menos vendidos por tienda

# Función para encontrar los productos más y menos vendidos por tienda
def productos_mas_menos_vendidos_por_tienda(df, nombre_tienda):
  print(f"\n--- Productos más y menos vendidos en {nombre_tienda} ---")
  # Agrupar por 'Nombre del Producto' y contar las ocurrencias
  conteo_productos = df['Producto'].value_counts()

  if not conteo_productos.empty:
    # Producto más vendido (el que aparece más veces)
    producto_mas_vendido = conteo_productos.index[0]
    cantidad_mas_vendido = conteo_productos.iloc[0]
    print(f"Producto más vendido: '{producto_mas_vendido}' ({cantidad_mas_vendido} unidades)")

    # Producto menos vendido (el que aparece menos veces)
    producto_menos_vendido = conteo_productos.index[-1]
    cantidad_menos_vendido = conteo_productos.iloc[-1]
    print(f"Producto menos vendido: '{producto_menos_vendido}' ({cantidad_menos_vendido} unidades)")
  else:
    print("No hay datos de productos para analizar.")

  print("-" * (len(f"--- Productos más y menos vendidos en {nombre_tienda} ---")))

# Analizar productos más y menos vendidos para cada tienda
productos_mas_menos_vendidos_por_tienda(tienda, "Tienda 1")
productos_mas_menos_vendidos_por_tienda(tienda2, "Tienda 2")
productos_mas_menos_vendidos_por_tienda(tienda3, "Tienda 3")
productos_mas_menos_vendidos_por_tienda(tienda4, "Tienda 4")

# Para el total de todas las tiendas
print("\n--- Productos más y menos vendidos (Total de todas las tiendas) ---")
conteo_productos_total = todas_tiendas['Producto'].value_counts()

if not conteo_productos_total.empty:
  producto_mas_vendido_total = conteo_productos_total.index[0]
  cantidad_mas_vendido_total = conteo_productos_total.iloc[0]
  print(f"Producto más vendido: '{producto_mas_vendido_total}' ({cantidad_mas_vendido_total} unidades)")

  producto_menos_vendido_total = conteo_productos_total.index[-1]
  cantidad_menos_vendido_total = conteo_productos_total.iloc[-1]
  print(f"Producto menos vendido: '{producto_menos_vendido_total}' ({cantidad_menos_vendido_total} unidades)")
else:
  print("No hay datos de productos para analizar.")
print("-" * (len("--- Productos más y menos vendidos (Total de todas las tiendas) ---")))

--- Productos más y menos vendidos en Tienda 1 ---
Producto más vendido: 'Microondas' (60 unidades)
Producto menos vendido: 'Celular ABXY' (33 unidades)
--------------------------------------------------

--- Productos más y menos vendidos en Tienda 2 ---
Producto más vendido: 'Iniciando en programación' (65 unidades)
Producto menos vendido: 'Juego de mesa' (32 unidades)
--------------------------------------------------

--- Productos más y menos vendidos en Tienda 3 ---
Producto más vendido: 'Kit de bancas' (57 unidades)
Producto menos vendido: 'Bloques de construcción' (35 unidades)
--------------------------------------------------

--- Productos más y menos vendidos en Tienda 4 ---
Producto más vendido: 'Cama box' (62 unidades)
Producto menos vendido: 'Guitarra eléctrica' (33 unidades)
--------------------------------------------------

--- Productos más y menos vendidos (Total de todas las tiendas) ---
Producto más vendido: 'Mesa de noche' (210 unidades)
Producto menos vendido: 'Celular ABXY' (157 unidades)
-------------------------------------------------------------------

In [11]:
# prompt: Productos más y menos vendidos total

# Para el total de todas las tiendas
print("\n--- Productos más y menos vendidos (Total de todas las tiendas) ---")
conteo_productos_total = todas_tiendas['Producto'].value_counts()

if not conteo_productos_total.empty:
  producto_mas_vendido_total = conteo_productos_total.index[0]
  cantidad_mas_vendido_total = conteo_productos_total.iloc[0]
  print(f"Producto más vendido: '{producto_mas_vendido_total}' ({cantidad_mas_vendido_total} unidades)")

  producto_menos_vendido_total = conteo_productos_total.index[-1]
  cantidad_menos_vendido_total = conteo_productos_total.iloc[-1]
  print(f"Producto menos vendido: '{producto_menos_vendido_total}' ({cantidad_menos_vendido_total} unidades)")
else:
  print("No hay datos de productos para analizar.")
print("-" * (len("--- Productos más y menos vendidos (Total de todas las tiendas) ---")))

--- Productos más y menos vendidos (Total de todas las tiendas) ---
Producto más vendido: 'Mesa de noche' (210 unidades)
Producto menos vendido: 'Celular ABXY' (157 unidades)
-------------------------------------------------------------------

# 5. Envío promedio por tienda

In [13]:
# prompt: Envío promedio por tienda

# Función para calcular el envío promedio por tienda
def calcular_envio_promedio(df, nombre_tienda):
  if 'Costo de envío' in df.columns:
    envio_promedio = df['Costo de envío'].mean()
    print(f"Envío promedio en {nombre_tienda}: {envio_promedio:.2f}")
  else:
    print(f"La columna 'Costo de envío' no se encuentra en el dataframe de {nombre_tienda}.")

# Calcular envío promedio para cada tienda
print("\n--- Envío promedio por tienda ---")
calcular_envio_promedio(tienda, "Tienda 1")
calcular_envio_promedio(tienda2, "Tienda 2")
calcular_envio_promedio(tienda3, "Tienda 3")
calcular_envio_promedio(tienda4, "Tienda 4")
print("-" * (len("--- Envío promedio por tienda ---")))

--- Envío promedio por tienda ---
Envío promedio en Tienda 1: 26018.61
Envío promedio en Tienda 2: 25216.24
Envío promedio en Tienda 3: 24805.68
Envío promedio en Tienda 4: 23459.46
---------------------------------